<h1><%= @user.name %>'s Favorites</h1>

<% if @favorites.any? %>
  <% @favorites.each do |favorite| %>
    <div class="image">
      <h4><%= link_to favorite.image.title, image_path(favorite.image) %></h4>
      <%= image_tag(favorite.image.photo.url(:thumb)) %>
    </div>
  <% end %>
<% else %>
  <p>No saved favorites.</p>
<% end %>
