<h1><%= @user.name %></h1>
<hr>
<h3><%= link_to "Favorites", user_favorites_path(@user) %></h3>
<h3><%= link_to "Images", user_images_path(@user) %></h3>
<h3><%= link_to "Tagged Photos", user_user_tags_path(@user) %></h3>
