@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  margin: 5px;
  margin-left: 0px;
  background-color: grey;
  border-color: grey;
}

.btn:hover {
  background-color: darkgrey;
  border-color: darkgrey;
}


.form, .form-title {
  width: 40%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.image-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.user-tags {
  margin-left: 2em;
}

.image-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-categories > div {
  width: 28%;
  min-width: 150px;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
}

.images-list .image {
  margin: 2em;
}

.comment-options {
  font-size: 14px;
  text-align: right;
}
