@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  margin: 5px;
  margin-left: 0px;
  background-color: grey;
  border-color: grey;
}

.btn:hover {
  background-color: darkgrey;
  border-color: darkgrey;
}


.form, .form-title {
  width: 40%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.image-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-section {
  display: flex;
}

.user-tags {
  margin-left: 2em;
}
